@import "tailwindcss";

@theme {
    --color-red-400: #3E1011;
    --color-red-300: #5D1D1E;
    --color-red-200: #8F2527;
    --color-red-175: #B32225;

    --color-brown-400: #483B24;
    --color-brown-200: #9C804F;
    --color-brown-100: #C9A267;

    --color-black-grey-800: #030303;
    --color-black-grey-700: #2E2E2E;
    --color-black-grey-600: #595959;
    --color-black-grey-400: #838383;
    --color-black-grey-200: #ADADAD;
    --color-black-grey-175: #D8D8D8;

    --color-white-400: #ECECEC;
    --color-white-300: #F7F8FA;
    --color-white-200: #FBFCFF;
    --color-white-100: #FFFFFF;
}
